<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>

  <main class="flex-fill py-4">
    <div class="container">
      <!-- Sección de bienvenida -->
      <section class="text-center my-5">
        <h1 class="display-4">Explora Nuestros Sorteos</h1>
        <p class="lead">
          Participa y gana en sorteos emocionantes de manera fácil y segura.
        </p>
        <a href="#" class="btn btn-primary btn-lg mt-3">Inicia sesión</a>
      </section>

      <!-- Sección de características -->
      <section
        class="row text-center my-5 flex flex-row justify-content-around"
      >
        <div class="col-md-4">
          <div class="card shadow-sm p-4">
            <i class="bi bi-gift display-4 text-primary mb-3"></i>
            <h5 class="card-title">Sorteos Diversos</h5>
            <p class="card-text">
              Participa en sorteos de todo tipo, desde artículos tecnológicos
              hasta experiencias únicas.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm p-4">
            <i class="bi bi-lock display-4 text-primary mb-3"></i>
            <h5 class="card-title">Protección de Datos</h5>
            <p class="card-text">
              Tu privacidad es fundamental para nosotros; protegemos tu
              información en todo momento.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm p-4">
            <i class="bi bi-ticket display-4 text-primary mb-3"></i>
            <h5 class="card-title">Aparta tus Boletos</h5>
            <p class="card-text">
              Asegura tu participación en los sorteos apartando tus boletos y
              disfruta de la emoción de ganar.
            </p>
          </div>
        </div>
      </section>

      <!-- Llamado a la acción -->
      <section class="text-center my-5">
        <h2 class="h4">¡Únete Ahora!</h2>
        <p class="mb-4">
          Regístrate y comienza a participar en sorteos que pueden cambiar tu
          vida.
        </p>
        <a href="#" class="btn btn-success btn-lg">Registrarse</a>
      </section>
    </div>
  </main>

  <app-footer></app-footer>
</div>
