body {
    height: 100vh;
    width: 100%;
}

.p-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.no-select {
    user-select: none;
}

.pointer {
    cursor: pointer;
}
