@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf') format('truetype');
    font-weight: normal, bold, bolder, 900, 800, 700, 600, 500, 400, 300, 200, 100;
    font-style: normal, italic, oblique;
}