<div class="d-flex flex-column min-vh-100">
    <app-header></app-header>
    <main class="flex-fill py-4 d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-lg" style="width: 400px;">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Registrarse</h3>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="fullName" placeholder="Ingresa tu nombre completo" formControlName="fullname" maxlength="60">
                        <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="text-danger">
                            <div *ngIf="fullname.errors?.['required']">El nombre completo es requerido</div>
                            <div *ngIf="fullname.errors?.['pattern']">No se pueden incluir carácteres especiales o números</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cellphone" class="form-label">Número de celular</label>
                        <input type="tel" class="form-control" id="cellphone" placeholder="1234567890" formControlName="cellphone" maxlength="10">
                        <div *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)" class="text-danger">
                            <div *ngIf="cellphone.errors?.['required']">El número de celular es requerido</div>
                            <div *ngIf="cellphone.errors?.['minlength']">El número debe ser de 10 carácteres</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" placeholder="ejemplo@correo.com" formControlName="email">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                            <div *ngIf="email.errors?.['required']">El correo electrónico es requerido</div>
                            <div *ngIf="email.errors?.['email']">El correo electrónico no es válido</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="passwrod" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="passwrod" placeholder="Contraseña" formControlName="password">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                            <div *ngIf="password.errors?.['required']">La contraseña es requerida</div>
                            <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-passwrod" class="form-label">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="confirm-passwrod" placeholder="Confirmar contraseña" formControlName="confirmPassword">
                        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
                            <div *ngIf="confirmPassword.errors?.['required']">La confirmación de la contraseña es requerida</div>
                            <div *ngIf="confirmPassword.errors?.['passwordNotMatch']">Las contraseñas no coinciden</div>
                            <div *ngIf="confirmPassword.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                        <p (click)="goToSignIn()" class="text-primary text-center link-click">Iniciar sesión</p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
  </div>
